%div[work_unit]
  .date= work_unit.date.to_s :short_with_year
  .client= _('Client: %{name}') % {name: work_unit.client.name}
  .description= work_unit.description
  - decimal_hours = work_unit.decimal_hours
  .hours= n_('1.0 hour', '%{n} hours', decimal_hours) % {n: decimal_hours}
  .pay= number_to_currency work_unit.pay
  .payment-due= work_unit.payment_due&.to_s :short_with_year
  - if work_unit.paid?
    = _('Paid on %{date}') % {date: work_unit.payments.first.date.to_s(:short_with_year)}
  = link_to _('Enter payment'), new_work_unit_payment_path(work_unit)
  = link_to _('Edit'), edit_work_unit_path(work_unit)
