- content_for(:page_title) { _ 'Enter Work Unit' }

= form_with model: @work_unit do |f|
  = f.label :date
  = f.date_select :date
  %br/
  = f.label :description
  = f.text_field :description
  %br/
  = f.label :hours
  = f.number_field :hours
  %br/
  = f.label :pay, _('Payment amount')
  = f.number_field :pay, step: 0.01
  %br/
  = f.label :payment_due, _('Payment due')
  = f.date_select :payment_due
  %br/
  = f.submit _('Save')
