= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        - errors = n_('1 error', '%{n} errors', user.errors.count) % {n: user.errors.count}
        = _('%{errors} prohibited this user from being saved:') % {errors: errors}
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :email, _('E-mail address')
    = form.text_field :email
  .field
    = form.label :password
    = form.text_field :password
  .field
    = form.label :password_confirmation
    = form.text_field :password_confirmation
  .actions
    = form.submit
