%p#notice= notice

%p
  %strong= _ 'E-mail address:'
  = @user.email
%p
  %strong= _ 'Password:'
  = @user.password
%p
  %strong= _ 'Password confirmation:'
  = @user.password_confirmation

= link_to _('Edit'), edit_user_path(@user)
|
= link_to _('Back'), users_path
