!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Erogatio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .current-user
        - if current_user
          = _('Logged in as %{email}') % {email: current_user.email}
        - else
          = _ 'Not logged in'
    #flash
      - if flash[:alert]
        .alert= flash[:alert]
      - if flash[:notice]
        .notice= flash[:notice]
    = yield
